In [1]:
import pandas as pd
import ast

import os
os.chdir('../movies')
from movieLens import MovieLens

In [2]:
ml = MovieLens()
ratings = ml.ratings
movies = ml.movies

In [3]:
len(ratings)

100836

In [4]:
# Combine both datasets into one by the movieId key
df = pd.merge(ratings,movies, on='movieId')
df.head()

,userId,movieId,rating,timestamp,title,year,genres
0,1,1,4.0,964982703,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,5,1,4.0,847434962,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]"
2,7,1,4.5,1106635946,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]"
3,15,1,2.5,1510577970,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]"
4,17,1,4.5,1305696483,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]"

In [5]:
len(df)

100836

In [6]:
df.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
title         object
year         float64
genres        object
dtype: object

In [30]:
# Convert the year column to a string column
df['year'] = df['year'].astype(str)

# Explicaci√≥n columna genre

In [8]:
df['genresVec'] = df['movieId'].map(ml.movies_genres)
df.head()

,userId,movieId,rating,timestamp,title,year,genres,genresVec
0,1,1,4.0,964982703,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,5,1,4.0,847434962,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,7,1,4.5,1106635946,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,15,1,2.5,1510577970,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,17,1,4.5,1305696483,Toy Story,1995.0,"[Adventure, Animation, Children, Comedy, Fantasy]","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [9]:
type(df['genres'][0])

list

Next we are going to deal with the column corresponding to genres. We will create a row for each of the genres associated with a movie, so that later we can group the data by user.

In [ ]:
# Remove the square brackets and single quotes from the genres column
df['genres'] = df['genres'].str.strip("[]").str.replace("'", "").str.split(", ")

# Explode the genres column to create one row per genre
df = df.explode('genres')

# Reset the index
df = df.reset_index(drop=True)

# Print the resulting DataFrame
df.head()

In [45]:
def evaluateRatedYears(df):
    """
    This function takes a pandas dataframe as input and returns two pandas series, where each series
    contains the most commonly rated year and the least commonly rated year for each user in the input
    dataframe.
    """
    years = df.groupby('userId')['year'].apply(lambda x: x.value_counts().index[-1])
    least_common_years = df.groupby('userId')['year'].apply(lambda x: x.value_counts().index[0])
    
    return (years, least_common_years)

In [46]:
# N√∫mero de valoraciones hechas
# Group the DataFrame by userId and count the number of movieIds in each group
users = pd.DataFrame(df.groupby('userId')['movieId'].count())
users = users.rename(columns={'movieId': 'num_movies'})

# N√∫mero de valoraciones por genre



# Avg rating
users['avg_rating'] = df.groupby('userId')['rating'].mean()



# Avg rating por genres



# Most liked genre


# Least liked genre


# Most and least popular year by number of ratings
# apply the function to each group and create new columns for the result
users['most_rated_year'], users['least_rated_year'] = df.groupby('userId')['year'].apply(evaluateRatedYears).apply(pd.Series).T.values.tolist()


# Least popular year



# Distinct years valorated
users['diff_years'] = df.groupby('userId')['year'].nunique()


# Algo con la variable timestamp?



users.head()

KeyError: 'userId'