In [1]:
#import pandas as pd

In [2]:
import os
os.chdir('../movies')
from movieLens import MovieLens

ml = MovieLens()

In [4]:
# Get users who liked the original movie
ratings = ml.ratings
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [25]:
movie_id = ml.name_to_movieID["Toy Story"]

# Seleccionamos solo los ratings buenos correspondientes a la película deseada
movie_ratings = ratings[(ratings['movieId'] == movie_id)& (ratings['rating'] >= 4.0)]
len(movie_ratings)

# Seleccionamos el id de los usuarios a los que les haya gustado la película
# Y detectamos que otras películas han gustado
user_ids = movie_ratings['userId'].unique()
filtered_df = ratings[ratings['userId'].isin(user_ids)]

# Seleccionamos únicamente las películas que no sean la elegida como base de recomendación y con rating >4
filtered_df = filtered_df[(filtered_df['movieId'] != movie_id)& (filtered_df['rating'] >= 4.0)]

# Contamos el número de veces que aparece cada película y seleccionamos el top N (15)
n=15
movie_counts = filtered_df.groupby('movieId').size().reset_index(name='count')
movie_counts = movie_counts.sort_values('count', ascending=False)
top_n =movie_counts.head(n)


#Traducimos el Id a name
movies = [ml.movieID_to_name[key] for key in top_n['movieId']]
movies

['Shawshank Redemption, The',
 'Forrest Gump',
 'Star Wars: Episode IV - A New Hope',
 'Pulp Fiction',
 'Silence of the Lambs, The',
 'Star Wars: Episode V - The Empire Strikes Back',
 'Matrix, The',
 'Jurassic Park',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)',
 'Star Wars: Episode VI - Return of the Jedi',
 'Sixth Sense, The',
 "Schindler's List",
 'Saving Private Ryan',
 'Usual Suspects, The',
 'Lion King, The']

In [32]:
# Las recomendaciones se obtienen del recomedador (pndte de automatización)
recommedations = ['Antz',
 'Toy Story 2',
 'Adventures of Rocky and Bullwinkle, The',
 "Emperor's New Groove, The",
 'Monsters, Inc.',
 'Wild, The',
 'Shrek the Third',
 'Tale of Despereaux, The',
 'Asterix and the Vikings (Astérix et les Vikings)',
 'Turbo',
 'The Good Dinosaur',
 'Moana',
 'Space Jam',
 'Shrek',
 "Twelve Tasks of Asterix, The (Les douze travaux d'Astérix)"]

In [33]:
# Comprobamos cuantas de dichas películas aparecen en las recomendaciones

intersection = set(recommedations).intersection(set(movies))
intersection

{'Lion King, The'}