# Descarga de datos

In [1]:
import urllib.request
import zipfile
import io

# Set the URL of the dataset you want to download
url = 'http://files.grouplens.org/datasets/movielens/ml-latest-small.zip'

# Download the dataset and read its contents into memory
response = urllib.request.urlopen(url)
zipfile_bytes = io.BytesIO(response.read())

# Extract the contents of the zip file to memory
with zipfile.ZipFile(zipfile_bytes) as zip_ref:
    #zip_contents = {name: zip_ref.read(name) for name in zip_ref.namelist()}
    zip_ref.extractall('..')

# Preprocessing

In [29]:
import pandas as pd
import datetime
import re

In [63]:
RATINGS_PATH = '../ml-latest-small/ratings.csv'
MOVIES_PATH = '../ml-latest-small/movies.csv'
LINKS_PATH = '../ml-latest-small/links.csv'
TAGS_PATH = '../ml-latest-small/tags.csv'

## Ratings

In [64]:
ratings = pd.read_csv(RATINGS_PATH)
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [65]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [ ]:
# ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')
# ratings.dtypes

No se necesita preprocesar el dataset

In [66]:
# Guardamos el archivo nuevo
ratings.to_csv('ratings.csv',index=False)

## Movies

In [67]:
movies = pd.read_csv(MOVIES_PATH)

# Convert the string in the 'genre' column into a list of elements
movies['genres'] = movies['genres'].str.split("|")
# replace (no genres listed) with NaN
# movies['genres'].replace('no genres listed', pd.np.nan, inplace=True)

# Split the column 'title' into two: title and year and reorder the columns
# movies[['title', 'year']] = movies['title'].str.split('(', n=1, expand=True)
# movies['year'] = movies['year'].str.replace(')', '', regex=False
p = re.compile(r"(?:\((\d{4})\))?\s*$")
movies['year'] = movies['title'].apply(lambda x: p.search(x).group(1) if p.search(x) else None)
p = re.compile(r"\s*\(\d{4}\)$")
movies['title'] = movies['title'].apply(lambda x: p.sub("", x))
# Remove the spaces at the end of the title
movies['title'] = movies['title'].str.strip()
movies = movies.reindex(columns=['movieId', 'title', 'year','genres']) 

# Convert the 'timestamp' variable to a datetime type
# movies['timestamp'] = pd.to_datetime(movies['timestamp'], unit='s')
# movies.head()

# Extract the date component from the timestamp field.
# movies['date'] = movies['timestamp'].dt.date

# Guardamos el archivo nuevo
movies.to_csv('movies.csv', index=False)

In [56]:
movies

,movieId,title,year,genres
0,1,Toy Story,1995,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji,1995,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men,1995,"[Comedy, Romance]"
3,4,Waiting to Exhale,1995,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II,1995,[Comedy]
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,2017,"[Action, Animation, Comedy, Fantasy]"
9738,193583,No Game No Life: Zero,2017,"[Animation, Comedy, Fantasy]"
9739,193585,Flint,2017,[Drama]
9740,193587,Bungo Stray Dogs: Dead Apple,2018,"[Action, Animation]"
9741,193609,Andrew Dice Clay: Dice Rules,1991,[Comedy]

## Links

In [70]:
links = pd.read_csv(LINKS_PATH)
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

## Tags

In [71]:
tags = pd.read_csv(TAGS_PATH)
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

Contruir una columna que contenga todos los atributos asociados a cada película?